.nav-footer-center {
    margin: 0;
}

main {
    margin-top: 0;
    margin-bottom: 0;
}

.nav-footer-left, .nav-footer-right {
    display: none;
}

@media print { 
    .no-print, .no-print *, footer, footer *, header, header * {
        display: none !important;
    }
}


.justify {
  text-align: justify;
}

/* Force Quarto TOC to be visible even if marked as bootstrap 'collapse' */
nav#TOC ul.collapse {
  display: block !important;
  height: auto !important;
  visibility: visible !important;
}



